<!DOCTYPE html>
    <html>
    <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title>Flask Google Maps Full Map Example</title>
            <link rel="stylesheet" href="">
            <link rel="stylesheet" href="static/css/bootstrap.css">
            <script type="text/javascript" src="static/js/jquery.js"></script>
            <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="static/js/harvest.js"></script>
            <link rel="stylesheet" href="static/css/slider.css">
            {{fullmap.js}}
    </head>
    <body>
        {{ fullmap.html }}
          
        <div id="floating-panel">
            Year: <span id="current-year">2060</span>
            <div class="slidecontainer">
                <input type="range" min="2020" max="2100" value="2060" class="slider" id="years-range">
            </div>
        </div>      
    </body>
</html>

